@font-face {
  font-family: 'Source Serif 4';
  src: url('../fonts/SourceSerif4-VariableFont_opsz,wght.ttf') format('truetype');
}

body {
  font-feature-settings: 'case' on;
  font-family: "Source Serif 4";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: -0.4px;
}