@font-face {
  font-family: 'Source Serif 4';
  src: url('../fonts/SourceSerif4-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.4px;
}

body {
  font-family: 'Source Serif 4';
}