@font-face {
  font-family: 'Source Serif 4';
  src: url('../fonts/SourceSerif4-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body{
  font-family: 'Source Serif 4';
}