@import "tailwindcss";

@media (max-width: 375px) {
  body {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 20px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding-bottom: 2px;
}

a::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(1);
  transition: transform 0.1s ease;
  transform-origin: bottom left;
}

a:hover::after {
  transform: scaleX(0);
}