@import "tailwindcss";

@media (max-width: 375px) {
  body {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 20px;
  }
}